<h1>Hot Weather Widget</h1>
<div class="element">
  <div class="element-left">
    <div class="element-bg-img">
      <img [src]=selectedHotel.picture alt="" class="img-responsive">
    </div>
    <div class="element-left-bottom">
      <div class="ele-strip">
        <ul>
          <li><a href="index.html#">Hotel</a></li>
          <li><a href="index.html#">Fishing</a></li>
          <li><a href="index.html#">Tours</a></li>
          <li class="anc-bor"><a href="index.html#">Weather</a></li>
        </ul>
      </div>
      <div class="village">
        <h3>Righteous indignation & like</h3>
        <span class="line"> </span>
        <div class="activity_box">
          <div class="scrollbar" id="style-2">
            <app-hotel *ngFor="let hotel of hotels"
                       [hotel]="hotel"
                       (selectedHotel)="onSelectedHotel($event)"
            ></app-hotel>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="element-right">
    <app-weather [weather]="selectedHotel.weather"></app-weather>
    <app-profile [profile]="selectedHotel.profile"></app-profile>
  </div>
  <div class="clear"> </div>
</div>


